<section class="task-info">

<h1> <%= action_name %> </h1>

<%= form_with model: @task, class: 'task-form' do |f| %>
<p> Please enter the following information: </p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :category %>
  <%= f.text_field :category %>

  <%= f.label :due %>
  <%= f.text_field :due %>

  <%= f.submit button_name, class: 'task-button' %>
<% end %>

</section>
