<body>

  <section class="task-info">
    <h2> Your Tasks </h2>
    <ul>
    <% @tasks.each do |task| %>
      <li> <h3 class="<%= task.completed? ? 'complete' : 'incomplete'%>"> <%= "#{task.name}" %> </h3>
      <p>
        <%= "For: #{task.category} || Due: #{task.due}" %>
      </p>
      <p>
        <% if task.completed? %>
          <%= "Completed on #{task.completed_on}" %>

        <% else %>
          <%= link_to "Complete #{task.name}", complete_task_path(task.id)%>
        <% end %> ||
        <%= link_to "Edit", edit_task_path(task.id) %> ||
        <%= link_to 'Delete', delete_task_path(task.id), method: :delete, data: { confirm: 'Are you sure? This cannot be undone!'} %>
      </p>
      </li>
      <% end %>
      <ul>
  </section>

  <footer> © 2018, Leanne Rivera </footer>
</body>
