<body>

  <section class="task-info">
    <h2> Your Tasks </h2>
    <ul>
    <% @tasks.each do |task| %>
    <label for =<%= "#{task.name}" %>
      <input type='checkbox' name='task_check' id='taskcheck'>
      <li> <h3> <%= "#{task.name}" %> </h3>
      <p>
        <%= "For: #{task.category} || Due: #{task.due}" %> || <%= link_to "Edit", edit_task_path(task.id) %> ||
      <%= link_to 'Delete', task_path(task.id), method: :delete %>
        <p>
      </li>
    </label>
      <% end %>
      <ul>
  </section>

  <footer> © 2018, Leanne Rivera </footer>
</body>
