<body>

  <section class="task-info">
    <h2> Your Tasks </h2>
    <ul>
    <% @tasks.each do |task| %>
    <label for =<%= "#{task.name}" %>
      <input type='checkbox' name='task_check' id='taskcheck'>
      <li> <h3> <%= "#{task.name}" %> </h3>
      <p>
        <%= "For: #{task.category} || Due: #{task.due}" %>
      </p>
      <p>
        <%= link_to "Complete #{task.name}", update_task_path(task.id)%> ||
        <%= link_to "Edit", edit_task_path(task.id) %> ||
        <%= link_to 'Delete', delete_task_path(task.id), method: :delete, data: { confirm: 'Are you sure? This cannot be undone!'} %>
      </p>
      </li>
    </label>
      <% end %>
      <ul>
  </section>

  <footer> © 2018, Leanne Rivera </footer>
</body>
