
<section class='task-info'>
<h2> Your Tasks </h2>
  <ul>
    <li> <%= @task.name %>
      <ul>
        <li> <%= @task.category %> </li>
        <li> <%= @task.due %> </li>
        <li>
          <p>   <%= link_to "Complete #{@task.name}", task_path(@task.id)%> </p>
          <p>   <%= link_to "Edit", edit_task_path(@task.id) %> </p>
          <p>    <%= link_to 'Delete', delete_task_path(@task.id), method: :delete, data: { confirm: 'Are you sure? This cannot be undone!'} %> </p>
        </li>
      </ul>
    </li>
  </ul>
</section>
