<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <section class='do-stuff'>
      <h1> TaskList </h1>
      <p> <%=link_to "Add a Task", new_task_path %> </p>

      <p> <%= link_to "All Tasks", tasks_path %>  </p>
    </section>
  </body>
</html>
